<% if @profile %>
  <div class="random-container" data-profile="<%= @profile.id %>">
    <div class="random-pic">
      <% if @profile.photo.attached? %>
        <%= cl_image_tag @profile.photo.key, id: "show-img" %>
      <% else %>
        <%= image_tag "home.jpg", id: "show-img" %>
      <% end %>
    </div>
    <div class="pl-5">
      <h2 class="mb-4">Qui suis-je ?</h2>
      <%= form_tag submit_path, method: :post do %>
        <div class="d-flex">
          <%= text_field_tag :name,
            params[:name],
            class: "form-control mb-4",
            placeholder: "Find the name"
          %>
          <p class="random-form-name answer"></p>
        </div>
        <div class="d-flex">
          <%= text_field_tag :activity,
            params[:activity],
            class: "form-control mb-4",
            placeholder: "Find the activity"
          %>
          <p class="answer random-form-activity"></p>
        </div>
        <%= hidden_field_tag :profile, @profile.id %>
        <div class="d-flex align-items-center">
          <div class="random-btns">
            <%= submit_tag "Guess", class: "btn-trombino", id: "submit-btn" %>
            <%= link_to "Next", random_path, class: "btn-trombino-reverse btn-random-next d-none" %>
          </div>
          <div class="random-form-answer"></div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <h2>Il n'y a pas de profils actuellement, veuillez en ajouter!</h2>
<% end %>

<div class="alert alert-warning alert-dismissible fade show m-1 d-none random-alert" role="alert">
  Fais un effort pls
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
